<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= employee.location %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= employee.client_id %>
  </p>

</div>
