<div id="<%= dom_id client %>">
  <p>
    <strong>First name:</strong>
    <%= client.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= client.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= client.phone_number %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= client.password_digest %>
  </p>

  <p>
    <strong>Confirm password:</strong>
    <%= client.confirm_password %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= client.employee_id %>
  </p>

</div>
